@mixin anim($param: all, $dur: .2s, $type: ease-out, $delay:0s) {
  transition: $param $dur $type $delay;
}

@mixin bp($point, $type: max) {
  @media screen and (#{$type}-width: #{$point}px) {
    @content;
  }
}

@mixin size($size) {
  width: #{$size}px;
  height: #{$size}px;
}

@mixin hover-line {
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: #929598;
    transform: rotateY(90deg);
    transition: transform .8s ease-out 0.1s;
  }
  &:hover:after {
    transform: rotateY(0deg);
  }
}



