.n-four:after, .n-two:after, .n-three:after, .n-one:after, .sprite1:before,
.sprite8:before, .sprite2:before, .sprite4:before, .sprite7:before, .sprite6:before,
.sprite5:before, .sprite3:before
{content: " "; display: inline-block; background: url('../images/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; position: absolute; right: 53px;
  top: -72px; @include bp(320){right: 0;}}
.n-one:after {right: 78px; @include bp(320){right: 10px;}}
.n-four:after { background-position: -4px -0px; width: 78px; height: 107px; }
.n-two:after { background-position: -4px -111px; width: 73px; height: 108px; }
.n-three:after { background-position: -4px -223px; width: 69px; height: 109px; }
.n-one:after { background-position: -4px -336px; width: 42px; height: 107px; }
.sprite1:before { background-position: -50px -336px; width: 21px; height: 21px; }
.sprite8:before { background-position: -50px -361px; width: 21px; height: 18px; }
.sprite2:before { background-position: -50px -383px; width: 20px; height: 20px; }
.sprite4:before { background-position: -50px -407px; width: 20px; height: 20px; }
.sprite7:before { background-position: -50px -431px; width: 20px; height: 20px; }
.sprite6:before { background-position: -4px -447px; width: 18px; height: 18px; }
.sprite5:before { background-position: -26px -447px; width: 14px; height: 20px; }
.sprite3:before { background-position: -44px -455px; width: 12px; height: 16px; }



.appstore, .googleplay, .logo-mobile, .mastercard, .neteller,
.paypal, .skrill, .visa, .facebookwhite:after, .googlewhite:after,
.vkwhite:after, .facebookgrey, .googlegrey, .up, .vkgrey,
.logo-f:after, .ball, .exit
{ display: inline-block; background: url('../images/socsprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.appstore { background-position: -3px -0px; width: 130px; height: 40px; }
.googleplay { background-position: -3px -43px; width: 130px; height: 40px; }
.logo-mobile { background-position: -3px -86px; width: 64px; height: 66px; }
.mastercard { background-position: -70px -86px; width: 50px; height: 30px; }
.neteller { background-position: -70px -119px; width: 50px; height: 30px; }
.paypal { background-position: -70px -152px; width: 50px; height: 30px; }
.skrill { background-position: -3px -155px; width: 50px; height: 30px; }
.visa { background-position: -56px -185px; width: 50px; height: 30px; }
.facebookwhite:after { background-position: -3px -188px; width: 40px; height: 40px; }
.googlewhite:after { background-position: -46px -218px; width: 40px; height: 40px; }
.vkwhite:after { background-position: -89px -218px; width: 40px; height: 40px; }
.facebookgrey { background-position: -3px -231px; width: 30px; height: 30px; }
.googlegrey { background-position: -36px -261px; width: 30px; height: 30px; }
.up { background-position: -69px -261px; width: 30px; height: 30px; }
.vkgrey { background-position: -3px -264px; width: 30px; height: 30px; }
.logo-f:after { background-position: -102px -261px; width: 22px; height: 24px; }
.ball { background-position: -109px -185px; width: 20px; height: 20px; }
.exit { background-position: -102px -288px; width: 18px; height: 20px; }