* {
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

body,
menu,
blockquote,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;

}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.head-mobile {
  display: none;
  @include bp(950) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.whistle {
  position: absolute;
  top: 0;
  left: 41%;
}

.description__image {
  position: absolute;
  bottom: 0;
  left: 20.7%;
}

blockquote {
  align-self: center;
  flex: 0 0 400px;
  @include bp(950) {
    flex: 0;
  }
}

.description__tutorial {
  z-index: 1;
  text-align: center;
  @include bp(950) {
    width: 100%;
  }
  span {
    display: block;
    margin: 0 0 33px;
    font: 700 0.9em 'Roboto', 'Helvetica', 'Arial', sans-serif;
    @include bp(950) {
      margin: 80px 0 25px;
      text-align: left;
      font-weight: bold;
      font-size: 1.2em;
    }
    @include bp(320) {
      font-size: 0.86em;;
    }
  }
  & .video a img {
    @include bp(950) {
      width: 100%;
    }

  }
}

.video:hover {
  @include anim();
  opacity: 0.5;
}

.phone .container {
  .phone__aside p {
    margin: 0 0 112px;
    @include bp(320) {
      margin: 0 0 70px;
    }

  }
  .n-three {
    margin: 0 0 80px !important;
  }
}

.slider {
  overflow-x: hidden;
}

.community__text {
  flex: 0 0 400px;
  @include bp(950) {
    flex: 1;
  }
}

.community__network__box span {
  display: inline-block;
  font: 300 1.5em 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0 0 0 16px;
  vertical-align: super;
  @include bp(950) {
    display: none;
  }
}

.view-all {
  color: #2c715b;
  font-size: .9em;
  text-align: center;
  display: block;
  padding: 25px 0 0;
  border-top: 2px solid #e5e5e5;
  &:hover {
    color: #ec1104;
  }
}

.footer-last-line {
  display: none;
}

.greentxt {
  color: $green-txt;
  line-height: 1.6em;
  &:hover {
    color: #9a9a9a;
  }
}

.footer__left-container__logo__emblem {
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 2px;
  }
  & p {
    line-height: 1.4em;
  }
}

.footer__left-container__logo__licences a {
  margin: 34px 3px 0px 4px;
  display: inline-block;
  @include bp(950) {
    margin: 25px 5px 0px;
  }
}

.footer__left-container__logo__licences-first {
  display: none;
  @include bp(950) {
    display: inline-block;
  }
}

.footer__left-container__faq__bank {
  display: none;
  @include bp(950) {
    display: inline-block;
    padding: 30px 0;
    border-bottom: 1px solid #c0c0c0;
    white-space: nowrap;
    & a:hover {
      opacity: 0.5;
      @include anim();
    }
  }
}

.footer__left-container__faq {
  a {
    @include bp(950) {
      display: inline-block;
      margin: 20px 5px 0;
    }
  }
  .first {
    margin: 0 0 27px 0;
    @include bp(950) {
      display: inline-block;
      margin: 0;
    }
  }
}

.footer__right-container__social a {
  margin: 0 0 0 7px;
}

.desktop {
  @include bp(950) {
    display: none;
  }
}

