.form {
  width: 100%;
  background: $Bg-grey;
  padding: 175px 0 0 0;
  @include bp(950) {
    padding: 80px 20px 0;
  }
  @include bp(320) {
    padding: 96px 20px 0;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 880px;
    @include bp(950) {
      flex-direction: column;
    }

  }
}

.form__left__text p, .form__right__text p {
  padding-bottom: 4%;
  letter-spacing: 0;
}

form p {
  padding-bottom: 3%;
}

.form__left {
  flex: 0 0 420px;
}

.form__left__main {
  @include bp(320) {
    padding: 25px 0 25px 0;
  }
}
